
:root{
   --bgColor:#302C42;
   --text-Color:#FFF;
}
html {
  scroll-behavior: smooth;
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
list-style: none;
text-decoration: none;
font-family: 'Montserrat', sans-serif;
 /* border: 3px solid red;  */
}
body{
  background-color: var(--bgColor);
  color: var(--text-Color);
}
.container{
  width: 90%;
  margin: auto;
}
section{
  margin-top: 80px;
}




